<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hupahoi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>initParams</display-name>
    <servlet-name>initParams</servlet-name>
    <servlet-class>com.servlet.dbFiles.initParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initParams</servlet-name>
    <url-pattern>/initParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>session</display-name>
    <servlet-name>session</servlet-name>
    <servlet-class>com.servlet.encrypt.session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initparams</display-name>
    <servlet-name>initparams</servlet-name>
    <servlet-class>com.servlet.dbFiles.initparams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initparams</servlet-name>
    <url-pattern>/initparams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initParams1</display-name>
    <servlet-name>initParams1</servlet-name>
    <servlet-class>com.servlet.dbFiles.initParams1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initParams1</servlet-name>
    <url-pattern>/initParams1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initParams2</display-name>
    <servlet-name>initParams2</servlet-name>
    <servlet-class>com.servlet.dbFiles.initParams2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initParams2</servlet-name>
    <url-pattern>/initParams2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initParams3</display-name>
    <servlet-name>initParams3</servlet-name>
    <servlet-class>com.servlet.dbFiles.initParams3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initParams3</servlet-name>
    <url-pattern>/initParams3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initParams4</display-name>
    <servlet-name>initParams4</servlet-name>
    <servlet-class>com.servlet.dbFiles.initParams4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initParams4</servlet-name>
    <url-pattern>/initParams4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initParams5</display-name>
    <servlet-name>initParams5</servlet-name>
    <servlet-class>com.servlet.dbFiles.initParams5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initParams5</servlet-name>
    <url-pattern>/initParams5</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.servlet.dbFiles.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>